{% extends base %}

{% block title %}Anomaly Detection in Time Series with Triadic Motif Fields{% endblock %}

{% block postamble %}
  <style>
    {% include 'styles.css' %}
  </style>
{% endblock %}

{% block contents %}
  <div class="content">
    <h1>Anomaly Detection in Time Series with Triadic Motif Fields</h1>

    <p>Yadong Zhang and Xin Chen</p>
    <p>[<a href="https://arxiv.org/abs/2012.04936">Paper</a>]Anomaly Detection in Time Series with Triadic Motif Fields and Application in Atrial Fibrillation ECG Classification.</p>
    <p>[<a href="https://github.com/ydup/bokeh">Code</a>]Online demo for image-based temporal pattern recognition and clinical interpretation.</p>
    <p>
    Please drag the sliders to adjust the triadic motifs in ECG time series and symmetrized Grad-CAM images.</p>

    {{ super() }}

  </div>
{% endblock %}